.promo-tours {
  max-width: 1280px;
  min-height: 304px;
  margin: -50px auto 0 auto;
  display: flex;
  //background-color:blue;
  justify-content: space-around;
  padding-left: 205px;
  padding-right: 205px;

  .promo {
    width: 236px;
    background-color: red;
    text-align: center;
    padding-top: 63px;
    color: $white;
    font-family: Proxima;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text {
      font-size: 60px;
      align-items: center;
    }
    p {
      font-size: 30px;
      margin-top: 5px;
      margin-bottom: 40px;
    }
    button {
      color: $white;
      height: 40px;
      width: 133px;
      font-size: 15px;
      font-family: Gill;
      background-color: $site-blue;
      border-radius: 50px;
      border: none;
    }
  }
  .promo.Israel {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
      url(../images/tour/tour-01.jpg);
  }
  .promo.USA {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
      url(../images/tour/tour-02.jpg);
  }
  .promo.AUS {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
      url(../images/tour/tour-03.jpg);
  }
}
@media only screen and (max-width: 1060px) {
  .promo-tours {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;

    .promo {
      margin-bottom: 30px;
    }
  }
}
