.white {
  width: 980px;
  height: 60px;
  margin: 10px auto 0 auto;
  justify-content: space-around;
  border-bottom: solid;
  border-color: white;
  border-width: 2px;
  font-family: Gill;
  display: flex;
  position: absolute;
  top: 0px;
  z-index: 20;

  .logo {
    width: 92px;
    height: 42px;
    margin-right: auto;
    text-align: center;
    background-image: url("/images/logo/logo-white.png");
  }

  .links {
    width: 480px;
    height: 42px;
    align-self: center;
    display: flex;
    font-size: 15px;

    a {
      text-decoration: none;
      color: white;
      // font-weight: bold;
      margin: auto;
      border-right: solid;
      border-width: 2px;
      padding-right: 20px;
      border-color: #79addc;
    }
    #endBorder {
      border: none;
    }
  }
}
